---
layout: master
title: Hector Blanco
---
<header id="home" data-spy="scroll">  
  <div class="wrapper">
    <div class="scroll-layers">
      <div class="layer"><div class="layer-space"></div></div>
      <!--div class="layer">
        <div class="layer1 img-lazy hidden-device"
          data-original="/assets/img/header-layer-1.jpg"
          data-original-rd="/assets/img/header-layer-1@2x.jpg"></div>
      </div>
      <div class="layer">
        <div class="layer2 img-lazy hidden-device"
          data-original="/assets/img/header-layer-2.png"
          data-original-rd="/assets/img/header-layer-2@2x.png"></div>
      </div-->
      <div class="title">
        <div class="container">
          <h1><a href="home" name="home" data-navigate="true">Hector Blanco</a></h1>
          <h2>Game artist</h2>
        </div>
      </div>
      <!--div class="layer">
        <div class="layer3 img-lazy hidden-device"
          data-original="/assets/img/header-layer-3.png"
          data-original-rd="/assets/img/header-layer-3@2x.png"></div>
      </div>
      <div class="layer">
        <div class="layer4 img-lazy hidden-device"
          data-original="/assets/img/header-layer-4.png"
          data-original-rd="/assets/img/header-layer-4@2x.png"></div>
      </div-->
    </div>
  </div>
</header>

<nav id="navbar-menu" class="navbar navbar-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
      </button>
    </div>
    <div id="navbar-top-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="navbar-item"><a href="home" data-navigate="true">Home</a></li>
          <li class="navbar-item"><a href="gallery" data-navigate="true">Gallery</a></li>
<!--           <li class="navbar-item"><a href="skills" data-navigate="true">Skills</a></li> -->
          <li class="navbar-item"><a href="contact" data-navigate="true">Contact</a></li>
      </ul>
<!--       <ul class="nav navbar-nav navbar-right">
          <li class="navbar-item jump-to-top"><a href="home" data-navigate="true">Jump to top</a></li>
      </ul> -->
    </div>
  </div>
</nav>

<!-- <section id="about" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
      <h2><a href="about" name="about" data-navigate="true">about <span>me<span></a></h2>
      <div class="selfportrait">
        <img class="img-lazy hidden-device" data-original="/assets/img/hbs.png">
      </div>
      <p>Design and illustration are what I breath, they are a part of me. I am constantly drawing in my free time and that is something I have always loved doing. I am <strong>enthusiastic about learning</strong> the variety of colouring styles while diversifying and bettering my drawing techniques.</p>

      <p>I studied Communication Sciences in my hometown of Mérida, Mexico. After my studies, I lived in Barcelona for two years, where I worked in the world of Online Marketing. Currently, I live in Berlin, Germany and am looking forward to turning my passion into a life's work in <strong>video game animation</strong>.</p>

      <p>Besides drawing, I enjoy playing videogames, reading comic books and watching fantasy and science fiction movies. When possible I love to travel with my wife to <strong>meet other cultures</strong>, otherwise restaurants are my favourite place to discover new cultures through their gastronomy.</p>
    </div>
  </div>
</section> -->

<nav id="navbar-gallery" class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-gallery-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
      </button>
    </div>
    <div id="navbar-gallery-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav gallery-filter">
        <li class="navbar-item active"><a href="#" data-filter="all">All</a></li>
        <li class="navbar-item"><a href="#" data-filter="3d">3D Art</a></li>
        <li class="navbar-item"><a href="#" data-filter="2d">2D Art</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="gallery" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
<!--       <h2><a href="gallery" name="gallery" data-navigate="true"><span>my</span> gallery</a></h2> -->
      <div class="gallery">

        {% include gallery_item.html
            frame="#F6E8D0"
            src="002.jpg"
            filter="3d"
            title=""
            caption="" %}

        {% include gallery_item.html
            frame="#d6d8d4"
            src="001.jpg"
            filter="3d"
            title=""
            caption="" %}

        {% include gallery_item.html
            frame="#d1c9c6"
            src="003.jpg"
            filter="3d"
            title=""
            caption="" %}

        {% include gallery_item.html
            frame="#dbc2ea" 
            src="004.jpg"
            filter="3d"
            title=""
            caption="" %}

        {% include gallery_item.html
            frame="#FFFFFF"
            src="006.jpg"
            filter="3d"
            title=""
            caption="" %}

        {% include gallery_item.html
            frame="#9be1e8"
            src="005.jpg"
            filter="3d"
            title=""
            caption="" %}

        {% include gallery_item.html
            frame="#8A7B6B"
            src="007.jpg"
            filter="2d"
            title=""
            caption="" %}

      </div> 
      <div id="lightbox-loading"><div></div></div>
      <div id="lightbox-caption">
        <div><span class="title"></span> <span class="body"></span></div>
        <div class="actions">
          <span><a href="#" title="Download" class="download" download>
            <i class="icon-download"></i></a></span>
          <span><a href="#" title="Fullscreen" class="fullscreen">
            <i class="icon-fullscreen"></i></a></span>
        </div>
      </div>
      <div id="lightbox-overlay"></div>
    </div>
  </div>
</section>

<!-- <section id="skills" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
      <h2><a href="skills" name="skills" data-navigate="true"><span>my</span> skills</a></h2>
      <div class="skill">
        <label>Multidisciplinary designer</label>
        <div id="designer-skills" class="skill-bars clearfix">
          {% include skill_bars.html skill1="Illustration & Design" level1="master" skill2="Sketching" level2="master" skill3="Animation" level3="proficient" skill4="Coding" level4="proficient" %}
        </div>
      </div>
      <div class="skill">
        <label>Graphic and 3D software</label>
        <div id="software-skills" class="skill-bars">
          {% include skill_bars.html skill1="Photoshop" level1="master" skill2="Illustrator" level2="expert" skill3="Paint Tool Sai" level3="master" skill4="Blender" level4="proficient" %}
        </div>
      </div>
      <div class="skill">
        <label>Web and programming</label>
        <div id="web-skills" class="skill-bars">
          {% include skill_bars.html skill1="Flash" level1="proficient" skill2="SEO & SEM" level2="expert" skill3="HTML" level3="expert" skill4="CSS" level4="proficient" %}
        </div>
      </div>
      <div class="skill">
        <label>Languages</label>
        <div id="language-skills" class="skill-bars">
          {% include skill_bars.html skill1="Spanish" level1="master" skill2="English" level2="expert" skill3="German" level3="proficient" skill4="Catalan" level4="expert" %}
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="contact" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
<!--       <h2><a href="contact" name="contact" data-navigate="true">contact <span>me</span></a></h2> -->
      <div class="email">
        <p>If you want to get in touch with me, don't hesitate</p>
        <a href="mailto:hector.blanco.s@gmail.com" class="icon-link">
          <span class="icon-block icon-circle"><i class="icon-mail"></i></span> hector.blanco.s@gmail.com</a>
      </div>
      <div class="social">
        <p>You can also find me in</p>
        <ul class="social-links">
          <li>
            <a href="https://www.artstation.com/artist/hectorblanco" title="ArtStation" class="icon-link">
              <span class="icon-block icon-circle artstation">
                <i class="icon-artstation"></i>
                <i class="icon-blank"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="https://www.pinterest.com/hector_blanco/" title="Pinterest" class="icon-link">
              <span class="icon-block icon-circle pinterest"><i class="icon-pinterest"></i></span></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/hectorblanco/" title="LinkedIn" class="icon-link">
              <span class="icon-block icon-block icon-circle linkedin"><i class="icon-linkedin"></i></span></a>
          </li>          
          <li>
            <a href="https://github.com/hectorblanco/" title="GitHub" class="icon-link">
              <span class="icon-block icon-circle github"><i class="icon-github"></i></span></a>
          </li>
          <li>
            <a href="https://www.facebook.com/hector.blanco.ga" title="Facebook" class="icon-link">
              <span class="icon-block icon-circle facebook"><i class="icon-facebook"></i></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>Website developed with the help of my lovely wife <a href="https://github.com/lauraluiz">Laura Luiz</a></p>
  <p><a href="https://github.com/hectorblanco/website"><i class="icon-github"></i> GitHub project</a></p>
</footer>
