---
layout: master
title: Hector Blanco's website
change_frequency: weekly
priority: 1.0
alias: [/about, /gallery, /skills, /contact]
---
<header id="home" data-spy="scroll">  
  <div class="wrapper">
    <div class="scroll-layer">
      <div class="layer1"></div>
      <div class="layer2"></div>
      <div class="title">
        <div class="container">
          <h1>
            <a href="home" name="home" data-navigate="true">
            <span class="hello">hello!</span> I'm <span class="name">Hector Blanco</span></a>
          </h1>
          <p><span class="welcome">welcome</span> to my website</p>
        </div>
      </div>
      <div class="layer3"></div>
      <div class="layer4"></div>
    </div>
  </div>
</header>

<nav id="navbar-menu" class="navbar navbar-top navbar-collapse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-top-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
      </button>
    </div>
    <div id="navbar-top-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="navbar-item"><a href="about" data-navigate="true">About</a></li>
          <li class="navbar-item"><a href="gallery" data-navigate="true">Gallery</a></li>
          <li class="navbar-item"><a href="skills" data-navigate="true">Skills</a></li>
          <li class="navbar-item"><a href="contact" data-navigate="true">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="navbar-item jump-to-top"><a href="home" data-navigate="true">Jump to top</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="about" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
      <h2><a href="about" name="about" data-navigate="true">about <span>me<span></a></h2>
      <img src="/assets/img/hbs.png">
      <p>I was born in Yucatan, Mexico, I moved to Barcelona and I'm currently living in Berlin. I graduated in Multimedia. My goal is to find a job as a <strong>videogame designer</strong>.</p>

      <p>Fascinated by design and illustration, both are a part of me. I am always drawing in my free time and that is something I've always loved doing. I consider myself pretty <strong>enthusiastic about learning</strong> the variety of colouring styles and enhancing my drawing techniques.</p>

      <p>Here, you can know a little more about me and see the gallery. If you want to know more about my artwork, please visit my <strong>website on <a href="http://ths-los.deviantart.com/" target="_blank">DeviantArt</a></strong> to see the full gallery.</p>
    </div>
  </div>
</section>

<nav id="navbar-gallery" class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-gallery-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
        <span class="nav-icon-bar"></span>
      </button>
    </div>
    <div id="navbar-gallery-collapse" class="navbar-collapse collapse">
      <ul class="nav navbar-nav gallery-filter">
        <li class="navbar-item active"><a href="#" data-filter="all">All</a></li>
        <li class="navbar-item"><a href="#" data-filter="anime">Anime</a></li>
        <li class="navbar-item"><a href="#" data-filter="comic">Comic</a></li>
        <li class="navbar-item"><a href="#" data-filter="sketch">Sketch</a></li>
        <li class="navbar-item"><a href="#" data-filter="games">Games</a></li>
      </ul>
    </div>
  </div>
</nav>

<section id="gallery" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
      <h2><a href="gallery" name="gallery" data-navigate="true"><span>my</span> gallery</a></h2>
      <div class="gallery">
        {% include gallery_item.html src="alienbro.jpg" filter="game conceptart" title="" caption="Concept art of Alien bro's game." %}
        {% include gallery_item.html src="aliensis.jpg" filter="game conceptart" title="" caption="Concept art of Alien bro's game." %}
        {% include gallery_item.html src="classes.jpg" filter="games sketch" title="Classes" caption="Sketch of different classes in YYG." %}
        {% include gallery_item.html src="swordmaster.jpg" filter="game sketch" title="" caption="Sword master human class from YYG." %}
        {% include gallery_item.html src="atara.jpg" filter="game conceptart" title="" caption="Atara concept art of Atara from YYG." %}
        {% include gallery_item.html src="archer.jpg" filter="game sketch" title="" caption="Archer rodent class from YYG." %}
        {% include gallery_item.html src="hunter.jpg" filter="game sketch" title="" caption="Hunter human class from YYG." %}
        {% include gallery_item.html src="weaponry.jpg" filter="game sketch" title="" caption="Weaponry of YYG universe." %}
        {% include gallery_item.html src="gala.jpg" filter="anime sketch" title="" caption="Own creation sketch." %}
        {% include gallery_item.html src="stormtrooper.jpg" filter="games" title="Star War's stormtrooper" caption="sprite sheet for a Wall Paper for Android." %}
        {% include gallery_item.html src="vader.jpg" filter="games" title="Star War's Darth Vader" caption="sprite sheet for a Wall Paper for Android." %}
        {% include gallery_item.html src="priestess.jpg" filter="anime sketch" title="" caption="Own creation sketch." %}
        {% include gallery_item.html src="steampunkwitch.jpg" filter="comic sketch" title="" caption="Own creation sketch." %}
        {% include gallery_item.html src="elise.jpg" filter="game comic" title="Elise" caption="'s faces from League of Legends." %}
        {% include gallery_item.html src="ahri.jpg" filter="comic" title="Ahri" caption="from League of Legends." %}
        <!--
        {% include gallery_item.html src="batgirl.jpg"  filter="comic" caption="Bat Girl" %}
        {% include gallery_item.html src="mirai.jpg"    filter="anime"  caption="Mirai" %}
        {% include gallery_item.html src="skyrim.jpg"   filter="games comic" caption="Skyrim" %}
        {% include gallery_item.html src="archer1.jpg"  filter="sketch comic" caption="Archer" %}
        {% include gallery_item.html src="werewolf.jpg" filter="comic" caption="Werewolf" %}
        {% include gallery_item.html src="atara-bn.jpg" filter="anime sketch" caption="Atara" %}
        {% include gallery_item.html src="elise.jpg"    filter="comic sketch games" caption="Faces" %}
        {% include gallery_item.html src="exmecha.jpg"  filter="anime" caption="Mecha" %}
        {% include gallery_item.html src="vader.jpg"    filter="games" caption="Darth Vader sprites" %}
        {% include gallery_item.html src="exsketch.jpg" filter="anime sketch" caption="Sketch" %}
        {% include gallery_item.html src="exnobuna.jpg" filter="anime" caption="Nobuna" %}
        {% include gallery_item.html src="exoro.jpg"    filter="anime" caption="Oro" %}
        {% include gallery_item.html src="exryuoko.jpg" filter="anime" caption="Ryuoko" %}
        {% include gallery_item.html src="priestsketch.jpg" filter="anime sketch" caption="Priest sketch" %}
        {% include gallery_item.html src="soraka.jpg"   filter="games anime" caption="soraka leagueoflegends" %}
        {% include gallery_item.html src="lukeskywalker.jpg" filter="games" caption="Luke Skywalker sprites" %}
        {% include gallery_item.html src="stormtrooper.jpg" filter="games" caption="Storm trooper sprites" %}
        {% include gallery_item.html src="vladimir.jpg" filter="games sketch" caption="vladimir leagueoflegends" %}
        {% include gallery_item.html src="atara-cl.jpg" filter="anime" caption="Atara" %}
        {% include gallery_item.html src="cory.jpg"     filter="anime" caption="Cory" %}
        {% include gallery_item.html src="sketching.jpg" filter="sketch comic" caption="sketch" %}
        {% include gallery_item.html src="witch.jpg"    filter="anime sketch" caption="Witch" %}
        {% include gallery_item.html src="body.jpg"     filter="sketch" caption="sketch" %}
        {% include gallery_item.html src="classes.jpg"  filter="anime sketch" caption="sketch" %}
        {% include gallery_item.html src="ahri.jpg"     filter="comic games" caption="sketch" %}-->
      </div> 
      <!--div id="lightbox-loading" class="icon-block animate-colorize">
        <i class="icon-loading"></i>
      </div-->
      <div id="lightbox-caption"><span class="title"></span> <span class="body"></span></div>
      <div id="lightbox-overlay"></div>       
    </div>
  </div>
</section>

<section id="skills" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
      <h2><a href="skills" name="skills" data-navigate="true"><span>my</span> skills</a></h2>
      <div class="skill">
        <!--img src="/assets/img/icon.png"-->
        <label>Multidisciplinary designer</label>
        <div id="designer-skills" class="skill-bars clearfix">
          {% include skill_bars.html skill1="Illustration & Design" level1="master" skill2="Sketching" level2="master" skill3="Animation" level3="proficient" skill4="Coding" level4="proficient" %}
        </div>
      </div>
      <div class="skill">
        <!--img src="/assets/img/ico4.png"-->
        <label>Graphic and 3D software</label>
        <div id="software-skills" class="skill-bars">
          {% include skill_bars.html skill1="Photoshop" level1="master" skill2="Illustrator" level2="expert" skill3="Paint Tool Sai" level3="master" skill4="Blender" level4="proficient" %}
        </div>
      </div>
      <div class="skill">
        <!--img src="/assets/img/ico1.png"-->
        <label>Web and programming</label>
        <div id="web-skills" class="skill-bars">
          {% include skill_bars.html skill1="Flash" level1="proficient" skill2="SEO & SEM" level2="expert" skill3="HTML" level3="expert" skill4="CSS" level4="proficient" %}
        </div>
      </div>
      <div class="skill">
        <!--img src="/assets/img/ico3.png"-->
        <label>Languages</label>
        <div id="language-skills" class="skill-bars">
          {% include skill_bars.html skill1="Spanish" level1="master" skill2="English" level2="expert" skill3="German" level3="proficient" skill4="Catalan" level4="expert" %}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" data-spy="scroll">
  <div class="wrapper">
    <div class="container">
      <h2><a href="contact" name="contact" data-navigate="true">contact <span>me</span></a></h2>
      <div class="email">
        <p>If you want to get in touch with me, don't hesitate</p>
        <a href="mailto:hector.blanco.s@gmail.com" class="icon-link">
          <span class="icon-block icon-circle"><i class="icon-mail"></i></span> hector.blanco.s@gmail.com</a>
      </div>
      <div class="social">
        <p>You can also find me in</p>
        <ul class="social-links">
          <li>
            <a href="http://ths-los.deviantart.com/" title="deviantART" class="icon-link" target="_blank">
              <span class="icon-block icon-circle deviantart"><i class="icon-deviantart"></i></span></a>
          </li>
          <li>
            <a href="http://www.linkedin.com/in/hectorblanco/" title="LinkedIn" class="icon-link" target="_blank">
              <span class="icon-block icon-block icon-circle linkedin"><i class="icon-linkedin"></i></span></a>
          </li>
          <!--li>
            <a href="http://plus.google.com/" title="Google+" class="icon-link" target="_blank">
              <span class="icon-block icon-circle gplus"><i class="icon-gplus"></i></span></a>
          </li-->
          <li>
            <a href="http://github.com/hectorblanco/" title="GitHub" class="icon-link" target="_blank">
              <span class="icon-block icon-circle github"><i class="icon-github"></i></span></a>
          </li>
          <li>
            <a href="http://twitter.com/hector_bs/" title="Twitter" class="icon-link" target="_blank">
              <span class="icon-block icon-circle twitter"><i class="icon-twitter"></i></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>Website developed with the help of my lovely wife <a href="https://github.com/lauraluiz">Laura Luiz</a></p>
  <p><a href="https://github.com/hectorblanco/website"><i class="icon-github-circled"></i> GitHub project</a></p>
</footer>
