$color-text-light: #d5d5d5;
$color-text-dark: #444444;
$color-link: #cda51c;

$color-highlight: #cda51c;
$color-white: #ffffff;

$color-divisor: #e4d493;
$color-background: #ffffff;
$color-background-dark: #292929; 

$color-header: #eacc65;
$color-about: #eacc65;
$color-gallery: #ffffff;
$color-skills: #ffffff;
$color-contact: #292929;
$color-contact-text: #d5d5d5;
$color-footer: #000000;
$color-footer-text: #eeeeee;

$color-menu: rgba(41, 41, 41, 0.9);
$color-menu-hover: rgba(10, 10, 10, 0.3);
$color-menu-active: rgba(10, 10, 10, 0.7);
$color-menu-text: #d5d5d5;
$color-menu-text-hover: #ffffff;

$color-menu-gallery: rgba(200, 200, 200, 0.95);
$color-menu-gallery-hover: rgba(170, 170, 170, 0.3);
$color-menu-gallery-active: rgba(170, 170, 170, 0.7);
$color-menu-gallery-text: #444444;
$color-menu-gallery-text-hover: #000000;

$color-gallery-thumbnail-frame: #ABABAB;
$color-gallery-frame: #bbbbbb;
$color-gallery-frame-extended: rgba(0, 0, 0, 0.5);
$color-gallery-frame-shadow: rgba(0, 0, 0, 1);
$color-gallery-caption: rgba(41, 41, 41, 1);

$color-skill-axis: #aaaaaa;
$color-skill-bar-start: rgba(234, 204, 101, 1);
$color-skill-bar-end: rgba(234, 204, 101, 0);
$color-skill-label: #d5d5d5;

@mixin font-thinest() {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

@mixin font-thin() {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

@mixin font-medium() {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

@mixin font-thick() {
    font-family: "Roboto", sans-serif;
    font-weight: 700; 
}

@mixin font-thickest() {
    font-family: "Roboto", sans-serif;
    font-weight: 900; 
}

@mixin cursor-zoom-in() {
	cursor: zoom-in !important;
	cursor: -moz-zoom-in !important;
	cursor: -webkit-zoom-in !important;
}

@mixin cursor-zoom-out() {
	cursor: zoom-out !important;
	cursor: -moz-zoom-out !important;
	cursor: -webkit-zoom-out !important;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transition($transitions...) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -ms-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}

@mixin filter($filters) {
    -webkit-filter: $filters;
    -moz-filter: $filters;
    filter: $filters;
}

@mixin text-shadow($shadow) {
    text-shadow: $shadow;
}

@mixin gradient-left-to-right($gradients...) {
    background: -webkit-linear-gradient(left, $gradients);
    background: -o-linear-gradient(right, $gradients);
    background: -moz-linear-gradient(right, $gradients);
    background: linear-gradient(to right, $gradients);
}

@mixin caption-style() {
    font-size: 0.9em; color: $color-text-light;
    background-color: $color-gallery-caption;
    .title { @include font-thick(); color: $color-white; letter-spacing: 1px; }
    .actions {
        margin-top: 6px;
        span { margin: auto 5px; }
    }
}

@mixin bounce-text() {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0% { opacity: 0; -webkit-transform: translateY(-2000px); }    
    60% { opacity: 1; -webkit-transform: translateY(30px); }    
    80% { -webkit-transform: translateY(-10px); }
    100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes bounceInDown {
    0% { opacity: 0; -moz-transform: translateY(-2000px); }    
    60% { opacity: 1; -moz-transform: translateY(30px); }    
    80% { -moz-transform: translateY(-10px); }    
    100% { -moz-transform: translateY(0); }
}
@-o-keyframes bounceInDown {
    0% { opacity: 0; -o-transform: translateY(-2000px); }
    60% { opacity: 1; -o-transform: translateY(30px); }    
    80% { -o-transform: translateY(-10px); }    
    100% { -o-transform: translateY(0); }
}
@keyframes bounceInDown {
    0% { opacity: 0; transform: translateY(-2000px); }
    60% { opacity: 1; transform: translateY(30px); }
    80% { transform: translateY(-10px); }    
    100% { transform: translateY(0); }
}

// GLOBAL RULES

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

:before,:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a {
    color: $color-link;
    text-decoration: none;
}

a:hover, a:focus {
    color: lighten($color-link, 20%);
    text-decoration: none;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

img {
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0; padding: 0;
}

article,aside,details,footer,header,nav,section {
    display: block;
}

input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    margin: 0;
}

.clearfix:before,.clearfix:after,.container:before,.container:after {
    content: " ";
    display: table
}

.clearfix:after,.container:after {
    clear: both
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

nav.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;

    &.navbar-top {
        right: 0;
        left: 0;
        top: 0;
        border-width: 0 0 1px;
        @media (min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .navbar-header {
        margin-right: -15px;
        margin-left: -15px;
        @media (min-width: 768px) { float:left; }
    }

    .navbar-collapse {
        max-height: 340px;
        overflow-x: visible;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: -15px;
        margin-left: -15px;
        border-top: 1px solid transparent;        
        -webkit-overflow-scrolling: touch;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1);

        &.in { overflow-y: auto; }

        @media (min-width: 768px) {
            width: auto;
            border-top: 0;
            box-shadow: none;
            padding-left: 0;
            padding-right: 0;
            margin-right: 0;
            margin-left: 0;
            -webkit-box-shadow: none;
            box-shadow: none;

            &.collapse {
                display: block!important;
                height: auto!important;
                padding-bottom: 0;
                overflow: visible!important;
            }
            &.in { overflow-y: visible; }
        }
        @media (max-width: 480px) and (orientation:landscape) {
            max-height: 200px;
        }
    }

    .navbar-toggle {
        position: relative;
        float: right;
        margin-right: 15px;
        padding: 9px 10px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        border-color: #ddd;

        &:focus { outline: 0; }
        .nav-icon-bar {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: #888;
            &+.nav-icon-bar { margin-top: 4px; }
        }
        @media (min-width: 768px) { display: none; }
    }

    ul.navbar-nav {
        padding-left: 0;
        list-style: none;
        margin: 7.5px -15px;
        &>li {
            position: relative;
            display: block;
            &>a {
                position: relative;
                display: block;
                padding: 10px 15px;
                line-height: 20px;
            }
        }
        &.navbar-right {
            float: right;
        }

        @media (min-width: 768px) {
            float:left;
            margin: 0;
            &>li {
                float: left;
                &>a {
                    padding-top: 15px;
                    padding-bottom: 15px;                    
                }
            }
        }

    }
}

.collapse {
    display: none;
    &.in { display: block; }
}

// ICONS STYLE

.icon-block {
    @include transition(all ease 0.6s);
    display: block; width: 60px; height: 60px;
    color: $color-text-light; text-align: center;
    i { line-height: 54px; font-size: 40px; display: inline; }
    &.icon-circle {
        border: 2px solid $color-background-dark;
        border-radius: 50%;                 
    }
}

#imagelightbox {
    position: fixed; z-index: 10000; 
    -ms-touch-action: none; touch-action: none;
    background-color: $color-gallery-frame;
}

#lightbox-caption {
    padding: 0.625em;
    display: none; z-index: 10001;
    position: fixed; left: 0; right: 0; bottom: 0;
    text-align: center;
    @include caption-style();
}

#lightbox-loading {
    width: 2.5em; height: 2.5em;
    display: none; z-index: 10003;
    background-color: #444; background-color: rgba( 0, 0, 0, .5 );
    position: fixed; top: 50%; left: 50%;
    padding: 0.625em; margin: -1.25em 0 0 -1.25em;
    -webkit-box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 );
    box-shadow: 0 0 2.5em rgba( 0, 0, 0, .75 );
    border-radius: 50%;

    div {
        width: 1.25em; height: 1.25em;
        background-color: #fff; border-radius: 50%;
        -webkit-animation: lightbox-loading .5s ease infinite;
        animation: lightbox-loading .5s ease infinite;
    }
}

@-webkit-keyframes lightbox-loading {
    from { opacity: .5; -webkit-transform: scale( .75 ); }
    50%  { opacity: 1;  -webkit-transform: scale( 1 ); }
    to   { opacity: .5; -webkit-transform: scale( .75 ); }
}
@keyframes lightbox-loading {
    from { opacity: .5; transform: scale( .75 ); }
    50%  { opacity: 1;  transform: scale( 1 ); }
    to   { opacity: .5; transform: scale( .75 ); }
}

#lightbox-overlay {
    position: fixed; top: 0; right: 0; bottom: 0; left: 0;
    z-index: 9998; display: none;
    background-color: rgba( 44, 44, 44, .6 );
}

#lightbox-loading, #lightbox-overlay, #lightbox-caption {
    -webkit-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body.noscroll {
    overflow: hidden;
}

// STRUCTURAL RULES

body {
    background-color: $color-background;
    @include font-thin();
    font-size: 1.2em; color: $color-text-dark;
    margin: 0;

    .container {
        margin: 0 auto;
        @media (min-width: 768px) { width:750px; }
        @media (min-width: 992px) { width:970px; }
        @media (min-width: 1200px) { width:1170px; }
    }
}


nav.navbar {
    width: 100%;
    .container {
        padding: 0;
        a { @include font-thin(); }
    }
}    

nav#navbar-menu {
    background-color: $color-menu;
    z-index: 1040;
    @include box-shadow(0px 1px 5px 0px rgba(50, 50, 50, 0.5));
    ul.navbar-nav li.navbar-item {
        @include transition(background-color 0.2s ease-out);
        &>a {
            @include font-thin(); color: $color-menu-text;
            @include transition(color 0.2s ease-out);
        }
        &:hover {
            background-color: $color-menu-hover;
            &>a { color: $color-menu-text-hover; }
        }
        &.active:not(.jump-to-top) {
            background-color: $color-menu-active;
            &>a { color: $color-menu-text-hover; }
        }
    }
    @include transition(box-shadow 0.3s ease-out);
    &.navbar-stuck {
        @include box-shadow(0px 7px 30px 0px rgba(50, 50, 50, 0.5));
    }    
}

nav#navbar-gallery {
    background-color: $color-menu-gallery;  
    z-index: 1030;
    @include box-shadow(0px 1px 5px 0px rgba(50, 50, 50, 0.2));
    ul.navbar-nav li.navbar-item {
        @include transition(background-color 0.2s ease-out);
        &>a { @include font-thin(); color: $color-menu-gallery-text; }
        &:hover>a, &.active>a { color: $color-menu-gallery-text-hover; } 
        &:hover { background-color: $color-menu-gallery-hover; }
        &.active { background-color: $color-menu-gallery-active; }
    }
    @include transition(box-shadow 0.3s ease-out);
    &.navbar-stuck {
        @include box-shadow(0px 7px 30px 0px rgba(50, 50, 50, 0.2));
    }    
}

header#home {
    .scroll-layers {
        .title {    
            position: absolute; top: 0;
            width: 100%; padding: 65px 10px;
            background-color: $color-header;
            @include bounce-text();
            @include box-shadow(0px 1px 5px 0px $color-header);
            .container {
                color: $color-text-dark;
                z-index: 100;
                h1 a {
                    z-index: 500;
                    text-transform: uppercase;
                    @include font-thickest(); color: $color-text-dark; font-size: 1.2em;
                }
                h2 {
                    text-transform: uppercase;
                    @include font-thinest(); font-size: 2em;
                }
            }
        }
        .layer {
            // div {
            //     height: 427px; width: 100%;
            //     background-repeat: no-repeat;
            //     background-attachment: fixed;
            //     background-position: center top;
            //     background-size: 585px 427px;
            //     &.fluid { background-attachment: scroll; }
            // }
            // .layer1 {
            //     background-color: #B8B8B8; background-repeat: repeat-x;
            //     background-size: 968px 427px;
            // }
            // .layer2, .layer3, .layer4 {
            //     position: absolute; top: 0;
            //     background-size: 1000px 427px;
            //     &.layer3, &.layer4 { background-size: 585px 427px; }
            // }
            .layer-space {
                background-color: #B8B8B8; background-repeat: repeat-x;
                height: 227px;
            }
        }
        @media (min-width: 769px) { .img-lazy { display: block; } }
        @media (max-width: 768px) {
            .title { position: static; }
            .layer { display: none; }
        }
    }
}

section {
    padding: 60px 0;
    >.wrapper {
        >.container {
            h2 {
                margin: 20px 0 50px;
                a {
                    @include font-thickest(); font-size: 1.5em;
                    color: $color-text-dark;
                    span { @include font-thin(); }
                }
            }
            padding: 0 15px;
        }
    }
}

// section#about {
// 	background-color: $color-about;
// 	border-bottom: 10px solid $color-divisor;
//     h2 a { color: darken($color-about, 20%); }
//     p {
//         padding: 10px 0;
//         strong { @include font-medium(); }
//     }
// 	.selfportrait {
//         float: left; margin: 0 10% 5% 0;
//         @media (max-width: 480px) { display: none; }
//     }
// }

section#gallery {
    background-color: $color-gallery;
    h2 a { color: darken($color-gallery, 20%); }
    .gallery { margin: 0 auto; }
    .gallery-item {
        margin: 2px; position: relative;
        background-color: $color-gallery-frame;
        overflow: hidden;
        img.thumbnail {
            width: 300px; height: 300px;
            @include transition(all 1s ease);
        }
        &:hover img.thumbnail {
            @include transform(scale(1.25));
        }
        // .caption {
        //     width: 300px; height: 300px;
        //     position: absolute; top: 300px;
        //     padding: 10px; opacity: 0.95;
        //     @include caption-style();
        //     @include transition(all 0.5s ease-out);
        //     @include transition-delay(0.1s);            
        // }
        //&:hover .caption { top: 150px; }
        .gallery-item-border {
            position: absolute; top: 0;
            width: 300px; height: 300px;
            border: 20px solid $color-gallery-thumbnail-frame; opacity: 0.5;
        }
    }

    @media (max-width: 340px) {
        >.wrapper >.container { padding: 0; }
        .gallery-item { margin: 2px auto; }
    }
}

// section#skills {
// 	background-color: $color-skills;
//     h2 a { color: darken($color-skills, 20%); }
//     .skill {        
//         >label {
//             @include font-thin(); font-size: 1.5em; letter-spacing: 2px;
//             vertical-align: middle;
//         }
//     }
//     .skill-bars {
//         margin: 20px auto 50px;
//         width: 100%; max-width: 600px;
//         .levels {
//             text-align: center;
//             padding: 10px;
//             label {
//                 @include font-thin();
//                 float: left; display: block;
//                 width: 20%; font-size: 0.9em;
//             }
//             @media(max-width: 480px) { display: none; }
//         }
//         .graph {
//             border-width: 1px 0 0 1px;
//             border-style: solid;
//             border-color: $color-skill-axis;
//             padding: 0 10px 10px 0;
//             .bar {
//                 width: 0%;
//                 margin: 20px 0; padding: 10px;
//                 text-align: right;
//                 background-color: $color-skill-bar-start;
//                 @include gradient-left-to-right($color-skill-bar-start, $color-skill-bar-start, $color-skill-bar-end);

//                 label {
//                     margin-right: 10px;
//                     text-transform: uppercase; font-size: 0.8em;
//                     @include font-medium(); white-space: nowrap;
//                 }
//                 &.level-begginer {
//                     @include transition(width 0.2s ease-out);                    
//                     &.loaded { width: 20%; }
//                 }
//                 &.level-familiar {
//                     @include transition(width 0.4s ease-out);
//                     &.loaded { width: 40%; }
//                 }
//                 &.level-proficient {
//                     @include transition(width 0.6s ease-out);
//                     &.loaded { width: 60%; }
//                 }
//                 &.level-expert {
//                     @include transition(width 0.8s ease-out);
//                     &.loaded { width: 80%; }
//                 }
//                 &.level-master {
//                     @include transition(width 1s ease-out);
//                     &.loaded { width: 100%; }
//                 }
//             }
//         }
//     }
// }

section#contact {
	background-color: $color-contact;    
	border-top: 10px solid $color-divisor;
    color: $color-contact-text;
    h2 a { color: lighten($color-contact, 20%); }
    .email, .social {
        padding: 30px 0; text-align: center;
        p { padding: 5px; }
        a.icon-link {
            .icon-circle { @include transition(all ease 0.6s); }
            &:hover .icon-circle { @include transform(rotate(360deg)); }
        }
    }
    .email a.icon-link {
        color: $color-highlight; @include font-medium();
        @include transition(all ease 0.6s);
        .icon-circle {
            width: 40px; height: 40px; display: inline-block; margin-right: 0.5em;
            i { line-height: 35px; font-size: 1.3em; }
        }
        &:hover {  
            .icon-circle { color: $color-highlight; border-color: $color-text-light; }
        }
    }
    .social ul.social-links {
        padding: 0; margin: 0; list-style: none;
        li {
            display: inline-block; margin: 15px;
            a.icon-link {                                                
                &:hover {  
                    span.icon-circle { border-color: $color-highlight; background-color: $color-background; }
                    .artstation { background-color: #121d21; color: #13AEEF; border-color: #13AEEF; }
                    .linkedin { color: #007BB6; border-color: #007BB6; }
                    .facebook { color: #3b5998; border-color: #3b5998; }
                    .github { color: #000000; border-color: #000000; }
                    .pinterest { color: #CC2028; border-color: #CC2028; }
                }
            }
        }
    }
}

footer {
    padding: 10px;
    background-color: $color-footer;    
    color: $color-footer-text; font-size: 0.8em; text-align: center;
}
